.mar { margin: 10px; }
.mar-right { margin-right: 10px; }
.mar-left { margin-left: 10px; }
.mar-btm { margin-bottom: 10px; }
.mar-top { margin-top: 10px; }

.mar-sm { margin: 5px; }
.mar-right-sm { margin-right: 5px; }
.mar-left-sm { margin-left: 5px; }
.mar-btm-sm { margin-bottom: 5px; }
.mar-top-sm { margin-top: 5px; }

.mar-md { margin: 15px; }
.mar-right-md { margin-right: 15px; }
.mar-left-md { margin-left: 15px; }
.mar-btm-md { margin-bottom: 15px; }
.mar-top-md { margin-top: 15px; }

.mar-lg { margin: 20px; }
.mar-right-lg { margin-right: 20px; }
.mar-left-lg { margin-left: 20px; }
.mar-btm-lg { margin-bottom: 20px; }
.mar-top-lg { margin-top: 20px; }

.mar-xlg { margin: 40px; }
.mar-right-xlg { margin-right: 40px; }
.mar-left-xlg { margin-left: 40px; }
.mar-btm-xlg { margin-bottom: 40px; }
.mar-top-xlg { margin-top: 40px; }

.mar-no { margin: 0; }
.mar-right-no { margin-right: 0; }
.mar-left-no { margin-left: 0; }
.mar-btm-no { margin-bottom: 0; }
.mar-top-no { margin-top: 0; }

.pad { padding: 10px; }
.pad-right { padding-right: 10px; }
.pad-left { padding-left: 10px; }
.pad-btm { padding-bottom: 10px; }
.pad-top { padding-top: 10px; }

.pad-top-only { padding: 10px 0 0 0; }
.pad-right-only { padding: 0 10px 0 0; }
.pad-left-only { padding: 0 0 0 10px; }
.pad-btm-only { padding: 0 0 10px 0; }

.pad-no { padding: 0; }
.pad-right-no { padding-right: 0; }
.pad-left-no { padding-left: 0; }
.pad-btm-no { padding-bottom: 0; }
.pad-top-no { padding-top: 0; }

.pad-sm { padding: 5px; }
.pad-right-sm { padding-right: 5px; }
.pad-left-sm { padding-left: 5px; }
.pad-btm-sm { padding-bottom: 5px; }
.pad-top-sm { padding-top: 5px; }

.pad-md { padding: 15px; }
.pad-right-md { padding-right: 15px; }
.pad-left-md { padding-left: 15px; }
.pad-btm-md { padding-bottom: 15px; }
.pad-top-md { padding-top: 15px; }

.pad-lg { padding: 20px; }
.pad-right-lg { padding-right: 20px; }
.pad-left-lg { padding-left: 20px; }
.pad-btm-lg { padding-bottom: 20px; }
.pad-top-lg { padding-top: 20px; }

.pad-xlg { padding: 40px; }
.pad-right-xlg { padding-right: 40px; }
.pad-left-xlg { padding-left: 40px; }
.pad-btm-xlg { padding-bottom: 40px; }
.pad-top-xlg { padding-top: 40px; }

.text-bold { font-weight: 500; }
