.header {
    background-color: #233140;
    padding: 0.5rem 2rem;
}

.header a {
    color: white;
}

.header img.avatar-icon {
    width: 36px;
    border: 1px solid black;
}

.header
a.navbar-brand:hover > img.avatar-icon {
    border-color: #00bc8c;
}
